<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="AngularJS" stopProcessing="true">
                    <match url="(api/.*|external/.*|partials/.*|app.min.js|default.htm|favicon.ico|robots.txt|style.min.css)" />
                    <action type="None" />
                </rule>
                <rule name="AngularJS2">
                    <match url="(.*)" />
                    <action type="Rewrite" url="default.htm" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
