<div class="col-sm-6 col-lg-4 col-lg-offset-2" ng-controller="GameDescriptionCtrl">
  <div class="panel panel-primary">
    <div class="panel-heading clearfix">
      <div class="panel-title">
        <span class="glyphicon glyphicon-th-list"></span> Description
        <div class="btn-group pull-right" ng-show="username === hostName">
          <button type="button" class="btn btn-danger btn-xs" ng-click="clearDescr()">
            <span class="glyphicon glyphicon-remove"></span>
            <span class="btn-text">Clear</span>
          </button>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="form-group title">
        <label>Title</label>
        <div class="well well-sm description" ng-show="!titleEdit" ng-click="titleEdit = true">{{gameTitle || '[No title]'}}</div>
        <input type="text" class="form-control" ng-model="gameTitle" ng-show="titleEdit" show-focus="titleEdit" ng-enter="submitTitle(gameTitle)" ng-escape="titleEdit = false">
      </div>
      <div class="form-group description">
        <label>Description</span></label>
        <div class="well well-sm description" ng-show="!descrEdit" ng-click="descrEdit = true">{{gameDescr || '[No description]'}}</div>
        <textarea class="form-control" rows="5" ng-model="gameDescr" ng-show="descrEdit" show-focus="descrEdit" enter-submit="submitDescr(gameDescr)" ng-escape="descrEdit = false"></textarea>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-6 col-lg-4">
  <div class="panel panel-primary ">
    <div class="panel-heading">
      <div class="panel-title">
        <span class="glyphicon glyphicon-bell"></span> Current votes
        <button type="button" class="btn btn-danger btn-xs pull-right" ng-show="username === hostName" ng-click="clearVotes()">
          <span class="glyphicon glyphicon-remove"></span>
          <span class="btn-text">Clear</span>
        </button>
      </div>
    </div>
    <div class="panel-body">
      <div class="vote" ng-class="{'user' : user.username === username}" ng-click="user.username === username && !user.voted && castVote()" ng-repeat="user in users | orderBy : user.username">
        <div class="poker-card" ng-bind-html="user.vote ? (user.vote | pokercard) : user.voted ? '&#10004;' : '-'"></div>
        <span class="username">
          <small ng-show="user.username === hostName"><span class="glyphicon glyphicon-star"></span></small>{{user.username}}
        </span>
      </div>
    </div>
  </div>
</div>
